// float button
.ant-float-btn.ant-float-btn-default {
  right: 36px;
  bottom: 40px;
  .ant-float-btn-body {
    width: 50px;
    height: 50px;
    background-color: $pink;
    border-radius: 15px;
    transition: opacity 0.1s ease-in;
    &:hover {
      background-color: $pink;
      opacity: 0.8;
    }
  }
}

// form
.ant-form {
  .ant-col.ant-form-item-label label {
    font-size: 18px;
    font-weight: 700;
  }
  .ant-input {
    padding: 8px 14px;
    font-size: 15px;
    background-color: #f8f9f4;
    border: 0;
  }
}

// color picker
.ant-color-picker-trigger {
  height: auto;
  padding: 4px;
  border: 2px solid #d9d9d98c;
  border-radius: 22.5px;
  .ant-color-picker-color-block {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  &:hover,
  &.ant-color-picker-trigger-active {
    border: 2px solid #d9d9d9;
    box-shadow: 0 0 0 2px $active;
  }
  &.ant-color-picker-status-success {
    border: 2px solid rgba(30, 52, 99, 0.4);
  }
}

//checkbox
.ant-checkbox-wrapper {
  flex-shrink: 0;
  border-radius: 50%;
  transition: 0.3s all;
  background-color: #fff;
  border: 2px solid;
  &.ant-checkbox-wrapper-checked {
    .ant-checkbox.ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: unset;
        border: unset;
        &::after {
          top: 45%;
          left: 7px;
          width: 8px;
          height: 15px;
        }
      }
    }
  }
  .ant-checkbox {
    border-radius: 50%;
    .ant-checkbox-inner {
      width: 28px;
      height: 28px;
      background-color: #fff;
      border: 0;
      border-radius: 50%;
    }
  }
  &:not(.ant-checkbox-wrapper-disabled):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: unset;
    border: 0;
    border-color: unset;
  }
}

// list
.ant-list {
  .ant-list-item {
    .ant-list-item-meta {
      .ant-list-item-meta-title {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // font-size: 16px;
      }
      .ant-list-item-meta-description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

// badge
.ant-badge.ant-badge-status {
  margin-right: 7px;
  .ant-badge-status-dot {
   width: 15px;
   height: 15px;
  }
}