.ant-float-btn.ant-float-btn-default {
  right: 36px;
  bottom: 40px;
  .ant-float-btn-body {
    width: 50px;
    height: 50px;
    background-color: $pink;
    border-radius: 15px;
    transition: opacity 0.1s ease-in;
    &:hover {
      background-color: $pink;
      opacity: 0.8;
    }
  }
}
