.calendarWrap {
  height: 100vh;
  overflow-y: auto;
  &.tablet {
    display: flex;
    flex-direction: column;
    .datePicker {
      width: 100%;
      > div{
        width: 100%;
      }
    }
  }

  &.pc {
    display: flex;
    width: 100%;
    min-height: 500px;
    > div:first-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50vw;
      height: 100vh;
      background-color: $skyblue;
    }
    [class^="react-datepicker"] {
    }
  }

  .noData {
    padding: 60px 0;
    font-size: 18px;
    font-weight: 700;
    color: $gray;
    text-align: center;
  }
  .colorDotWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 24px;
    font-weight: 500 !important;
    font-size: 12px;
    margin-top: 1px;
    >div {
      flex-shrink: 0;
    }
  }
  .colorDot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 1px;
    border-radius: 50%;
  }
}

.fixed {
  position: fixed;
  top: 210px;
  [class^="ant-list"][class~="ant-list-split"], [class^="_noData"] {
    max-height: calc(100vh - 277px);
    overflow-y: auto;
    padding-bottom: 80px;
  }
}