@import "./assets/style/common/fonts";

html,
body {
  font-family: "score", sans-serif !important;
  color: #333;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  height: 100vh;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
  font-family: "score", sans-serif !important;
  
}
