@font-face {
  font-family: 'score';
  font-style: normal;
  font-weight: 400;
  src: url("src/assets/fonts/S-Core4.woff") format("woff");
}
@font-face {
  font-family: 'score';
  font-style: normal;
  font-weight: 500;
  src: url("src/assets/fonts/S-Core5.woff") format("woff");
}
@font-face {
  font-family: 'score';
  font-style: normal;
  font-weight: 700;
  src: url("src/assets/fonts/S-Core7.woff") format("woff");
}
